[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
maskpass = "*"
shortuuid = "*"
tabulate = "*"
pytest-cov = "*"
pyyaml = "*"
pytest-mock = "*"
flask-smorest = "*"
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
passlib = "*"
marshmallow = "*"
python-dotenv = "*"
gunicorn = "*"
fastapi = "*"
jose = "*"
python-jose = "*"
httpx = "*"
uvicorn = {extras = ["standard"], version = "*"}
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
